@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/righteous-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Righteous'), local('Righteous-Regular'),
       url('fonts/righteous-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/righteous-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/righteous-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/righteous-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/righteous-v6-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}
*{
  border:0;
    margin:0;
    padding: 0;
      box-sizing: border-box; 
} 
.color{
  color: white;
  font-size: 2.5rem;
}
.btn-default{
position: relative;
}
body { 
font-family: 'Righteous',"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
color:black;
letter-spacing: .008em;

padding-top: 50px;
}
.container{
  background: white;
}
p{
font-family: "Righteous","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
/* Navbar styles*/
.navbar{
    background-color: transparent;
    background: transparent;
    border:none;
}
.contentnav{
background:#013e5a;
font-family: "Righteous","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
letter-spacing: .008em;   
}
.bannershield{
  padding-top: 0.2%;
}

 
/*No scrolling for navbar*/
.navbar-default .navbar-nav>li>a{
  color: white;
  font-size:1.5rem;
  letter-spacing: 0.1rem;
        transition: all .6s ease;

}
.navbar-default .navbar-nav>li>a:focus{
  color: black;
  background:white;

}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover{
background:white;
color: black;
}
.navbar-default .navbar-nav>li>a:hover{
    -moz-transition:    all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition:      all 500ms ease;
    -ms-transition:     all 500ms ease;
    transition:         all 500ms ease;
background:white;
color:black;
}


/*----------------*/


.navbar-collapse { max-height: 100% !important; }
.mainc{
  z-index: 100;position: relative;
}
.navbtn{
  position: absolute;
  top:2px; 
  right:0%;
}
/* .......... */


/* Horizontal line */
.borderline{
    border-bottom-width: 5px;
    border-bottom-style: solid;
       border-image: -moz-border-image: -moz-linear-gradient(to left,#237A57,#013e5a);
  -webkit-border-image: -webkit-linear-gradient(to top,#237A57,#013e5a);
  border-image: linear-gradient(to right,#237A57,#013e5a);
  border-image-slice: 1;
}
/* .........
 */
 /* textcenterstyle */
.headcoll{
  text-align: center;

}
/* --------
 */
/*  Pushing the main content below the banner */
.bannershield{
  padding-top: 0.2%;
}
#num{
  color: black;
}
/* logoimage and banner
 */
 .logogo{
position: absolute;
left: 20%;
top: 0;

}
.logogo img{
  height: 138px;
}
.wrapper{
  position: relative;
  display: flex;
}

h2{
  color:#013e5a;
}
.text{
padding-left: 35%;
}
.size{
  font-size: 1.3rem;
}
/* ---------------- */

#home{
  border-right: 2px solid white;
}
.dropdown-menu>li>a:hover{
  background: #013e5a;

}
.open > .dropdown-menu li a:hover {
  color: white;
}


.open > .dropdown-menu li a {
  color: #000;  
}
.dropdown-menu li a{
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.logo{
  color:white; 
  width:80%;
  padding-left: 10%;
  position: relative;
  text-align:center; 
  font-size: 1.7rem;
}
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
.overlay{
  
   text-align: center;
   color:#183f5b;

}
.photo{
  overflow: hidden;
}
.photo img{
    transition: all .8s ease;
}
.photo img:hover{
    transform: scale(1.3); 
}
.thumbnail{
  margin-bottom: 1%;
}
#nav{
  color: white;
}
img:hover{
  transition: .5s ease-in-out;
}
.icon-bar{
  transition: all.35s ease-in-out;
  color:white;
}
.firstbar{
  transform: rotate(40deg) translate(8px,3px);
}
.secondbar{
opacity: 0;
}
.thirdbar{
transform: rotate(140deg) translate(-5px,2px);
}
.centeralign{
  text-align: center;
}


.positionrules{
  display: flex;
  justify-content: center;
}


 @media(min-width: 769px){
  .verticaltable
{
  display: relative;
}
.cnter{
display: absolute;
top: 50%;
transform: translateY(50%);
}

}
@media(min-width:768px)
{
  
ul#girls > li{
  padding-bottom: 4%;
}
#particles-js {
  position: fixed;
  z-index: 50;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
    background-image:linear-gradient(to top,#237A57,#013e5a);
  background-size: cover;
}
#particles-js2 {
  position: fixed;
  z-index: 50;
  width: 10%;
  height: 100%;
    background-image:linear-gradient(to top,#237A57,#013e5a);
  background-size: cover;
   top: 0;
  right: 0;
}
#gutter{
   position: fixed;
  z-index: 50;
  width: 80%;
  height: 100%;
    background-image:linear-gradient(to top,#237A57,#013e5a);
  background-size: cover;
   top: 0;
   left:10%;
}

}
/* Disabling Particle effect from 767px
 */@media(max-width: 768px){
  #particles-js {
width: 0;
  height: 0;
  }
   #particles-js2 {
width: 0;
  height: 0;
  }
  #gutter{
    width: 0;
    height: 0;
  }
  .positionsch{
width: 26%;
margin:0 auto;
 }

}

.heading{
  color:#013e5a;
  padding-top: 2.5%;
  margin:0;
  border-bottom-width:3px;
  border-bottom-style:solid;
  border-image: -moz-border-image: -moz-linear-gradient(to left,#237A57,#013e5a);
  -webkit-border-image: -webkit-linear-gradient(to top,#237A57,#013e5a);
  border-image: linear-gradient(to right,#237A57,#013e5a);
  border-image-slice: 1;
      padding-bottom: 1%;
}

.cardss {
     box-shadow: 0 -1px 16px -3px rgba(0, 0, 0, 0.75);
    background: #fff;
}
/* On mouse-over, add a deeper shadow */

@media(max-width: 1200px){
  .paddingfornav{
    padding-top: 50px;
  }
#hover{
  opacity: 0;
}
#click{
  position: absolute;
  opacity: 1;
  left: 20px;
}
  body{
    font-size: 1.2rem;
  }


}
@media (max-width:990px){
 .reclogo{
  width: 30%;
  margin: 0 auto;
  padding-bottom: 2%;
}
   .logogo{
    left:2%;
  }
  .text{
    padding-left: 23%;
  }

}

@media(max-width: 767px){
  p{
    font-size: 1.2rem;
  }
  .paddingfornav{
    padding-top: 0px;
  }
  .navbar{
    background: #013e5a;
  }
  .logogo{
    left: -2%;
  }
  .logogo img{
  height: 125px;
}
  #h5{
    font-size: 1.2rem;
  }
  .headcoll{
    font-size: 2.5rem;
  }
  .contentnav{
    background: black;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}
  .navbar-default .navbar-nav>li>a{
  color: white;
  font-size:1.5rem;
border-bottom:none;
padding-top:7.5%;
padding-bottom:7.5%;
}
.navbar-default .navbar-nav>li>a:focus{
  color: black;
  background:white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover{
background:white;
color:black;
}
}

@media(max-width: 600px){
   .logogo{
    left: -2%;
  }
  .logogo img{
  height: 117px;
  width: 95px;
}
  #h5{
    font-size: 1rem;
  }
  .headcoll{
    font-size: 2.2rem;

  }
  #ad{
    font-size: 13px;
  }
}
@media(max-width: 490px){
  #h5{
    font-size: .8rem;
  }
  .headcoll{
        font-size: 1.8rem;

  }
   .logogo{
    left: -5%;
  }
  .logogo img{
    height: 110px;
    width: 80px;
  }
}


.dropdown-menu.animated {
  /* Speed up animations */
  -webkit-animation-duration: 0.55s;
    -moz-animation-duration: 0.55s;

  animation-duration: 0.55s;

  -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;

  animation-timing-function: ease;
}
.fa-ul>li{
  padding-bottom: 2%;
}
@media (max-width:1200px) and (min-width:990px) {

.logogo{
    left:13%;
  }
  .text{
    padding-left: 30%;
  }
    
    .heading{
      font-size: 1.7rem;
    }
    
    .head{
  border-radius: 1rem;
  background: #013e5a;
}


  }
  @media(max-width: 387px){
   #h5{
    font-size: .7rem;
  }
  .headcoll{
        font-size: 1.3rem;

  }
   .logogo{
    left: -5%;
  }
  .logogo img{
        height: 90px;
    width: 75px;
  }
  h3.color{
  font-size: 1.2rem;

}
}
@media (min-width: 320px) and (max-width: 480px) { 
 .fa-ul>li{
  padding-bottom: 4%;
  font-size: 1.2rem;

}
h3{
  font-size: 15px;
}

  }



#footers{
  background: #013e5a;
  color: white;
  margin-left: -1.6%;
  margin-right: -1.6%;
  padding-bottom: 1.5%;

}
#footers a{
  display: block;
  color: white;
  padding: 2%;

}
#footers .container{
    background:#013e5a;

}
@media(max-width: 767px)
{
.sizere{
            font-size: 1rem;

    }
.js-hiraku-offcanvas-body-right .js-hiraku-header-fixed {
  margin-left: -190px;
}

.js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
  margin-left: 190px;
}

.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-left {
  margin-left: -190px;
}
 
.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-right {
  margin-right: 190px;
}

.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar {
  width: 190px;
}

.js-hiraku-offcanvas-body-left {
  left: 190px;
}

.js-hiraku-offcanvas-body-right {
  right: 190px;
}
}

/* Banner for about us */
.bannercontent{
    background-size: 100%;
    background-image: linear-gradient(#FFC837,transparent),
     linear-gradient(to top,#FFC837,transparent),
    url("images/aboutusbanner.jpg");
    background-repeat:no-repeat;
}
.banner .bannercontent{
  position: relative;
    background-size: cover;
    background-position: center center;
}
.row-gap-huge{
  margin-top: 60px;
}

/* card for about */
/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
.motto{
  color:red;
}

/* flip the pane when hovered */
@media only screen and (min-width: 1200px){
  #click{
  position: absolute;
  opacity: 0;
  left: 13px;
}
.positionrules1{
  display: flex;
  justify-content: center;
}


.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
}

.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
   -webkit-transition: -webkit-transform .7s ease-in-out;
   -moz-transition: -moz-transform .7s ease-in-out;
     -o-transition: -o-transform .7s ease-in-out;
        transition: transform .7s ease-in-out;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
  width: 100%;
  height: 420px;
  border-radius: 4px;
}
.card .user{
     background: #183f5b;

}
@media (max-width:1200px) and (min-width:500px) {
.card .user .photof{
padding-left: 11%;
}
#fix{
  padding-left: 5%;
}
}
.card .user .photof{
width: 50%;
margin: 0 auto;

}

 

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: -10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card #h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    padding: 10px 0 0;
    text-align: center;
}

.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
  width: 100%;
  margin-top: 50px;
}
.card .stats{
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card .stats:first-child{
  border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
  border-left: 1px solid #EEEEEE;
}
.card .stats h4{
  font-weight: 300;
  margin-bottom: 5px;
}
.card .stats p{
  color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}




/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s ease-in-out;
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}



/* dEPARTMENT */


.flipthecard{
-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.up{
left:3px;
top:50%;
opacity: 1;
 }
 .up:hover,.up:focus,.up:active{
color:black;
 }
 .down{
left:85%;
top:50%;
opacity: 1;
 }
.down:hover,.down:focus,.down:active{
color:black;
}
/* passport size edit
 */ .image{
  display: block;
  margin:0 auto;
  padding-top:  10%;
height: 170px;
   width:132px;
  }


 .image img{
   height:100%;
   width:100%;
   border-radius: 50%;
}
.imageout{
  display: block;
  margin:0 auto;
  padding-top:1.5rem;
height: 170px;
   width:132px;
  }


 .imageout img{
   height:100%;
   width:100%;
   border-radius: 50%;
}


.thumbs{
    display: flex;
  justify-content: center;
  width: 100%;
}

.fa-camera{
color:  black;

}
.photo-overlay{
    color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  padding-left: 20px;
  padding-right: 20px;

  display: flex; /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:radial-gradient(circle,#237A57,#013e5a);;
  opacity: 1  ;
}
.photo {
  position: relative;
  line-height: 0;
  margin-bottom: 2em;
  overflow: hidden;
}

a.button {
  padding: 30px 0;
  color: black;
  width: 50%;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: white;
  line-height: 1;
  transition:all  0.3s ease-in-out; 
}
a.button:hover{
  background-color: black;
  color:white;
  transform: translateY(7px);
}
 .gallerythumb:before{
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right:-1px;
}

.gallerythumb img{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.jumbotron{
  background:#e9ecef;

}
.gallerythumb{
  margin-top: 250px;
}